{% extends 'web/base.html' %}
{% load widget_tweaks %}
{% block content %}
 <div class="py-5 bg-dark text-white">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <form method="post">
                        <h1>Change Password</h1>
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="form-group">
                                {{ field.label_tag }}
                                {% with WIDGET_ERROR_CLASS='is-invalid' %}
                                    {% render_field field class='form-control' placeholder=field.label %}
                                {% endwith %}
                                <div class="invalid-feedback">
                                    {% for error in field.errors %}
                                        {{ error }}<br>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
                        <button type="submit" class="btn btn-secondary" id="btnLogin">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}