{% extends 'web/base.html' %}
{% block content %}
  <div class="py-5 bg-primary">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <iframe width="450" height="250" frameborder="0" style="border:0"
                  src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyCKSmjzdOUoPML_pLaqfOxF6Q---U1_0Ho&origin=Xanadu+Main&destination=Kings+Beach+Parking+Lot&avoid=tolls|highways" allowfullscreen>
</iframe></div>
        <div class="col-md-4 bg-info">
          <form class="">
            <p class="lead" contenteditable="true">Sign In</p>
            <div class="form-group" id="txtEmail"> <label>Email address</label>
              <input type="email" class="form-control" placeholder="Enter email"> </div>
            <div class="form-group" id="txtPassword"> <label>Password</label>
              <input type="password" class="form-control" placeholder="Password"> </div>
            <button type="submit" class="btn btn-primary" id="btnLogin">Log In</button>
            <a class="btn btn-primary mx-3" href="{% url 'register' %}" id="btnSignin">Register</a>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}